## LIST

 ### creating a list
     we can write code in list by using square braces
 ### Accessing elements:
     you can access elements in a list using indexing.
 ### Slicing:
       you can extract a portion of the list using slicing.
 ### Modifying lists :
       you can change the value of a specific elememts by assigning a new value.
 ### Adding and removing elements:
    Appending: Add an element to the end of the list using append().
    Inserting: Insert an element at a specific position using using insert().
    Removing: Remove an element by value using remove().
    Popping: Remove and return an element by index using pop().
 ### List length:
      you can find the length of a list using len().
 ### Iterating through a list :
      you can use a loop to go through each item in a list.

In [4]:
x = ['deepu', 6 ,3.0, 5-2j, 'seven',False,print,range]

x

In [ ]:
g = []
print(g, type(g), len(g) ,id(g), sep='\n')#length of empty string is zero
[]
<class 'list>'
0
2726800613184

## Indexing and slicing in lists:

In [10]:
#Example
list1 = ["deepu","dileep","neeraj"]
list2 = ["vedhu",88,True,4.2,"Male"]
print(list2[0],list2[-1]) #indexing
print(list2[::],list2[::-1],sep='\n') #slicing

print(list1,type(list1),id(list1),sep='\n')
print(list2,type(list2),id(list2),sep='\n')

vedhu Male
['vedhu', 88, True, 4.2, 'Male']
['Male', 4.2, True, 88, 'vedhu']
['deepu', 'dileep', 'neeraj']
<class 'list'>
1962860959680
['vedhu', 88, True, 4.2, 'Male']
<class 'list'>
1962860959232

## Nested list
### A list within another list  is reffered to as a nested list in python. we can also say that a list that has other lists as its elements in a nested list.

In [16]:
l=[1,2,3,[4,5,6]]
print(l,type(l),len(l),hex(id(l)),sep='\n')

[1, 2, 3, [4, 5, 6]]
<class 'list'>
4
0x1c9039ad780

In [17]:
type(l[3]),l[3],l[3][0],l[3][::-1],l[3][::-2],l[3][2]

(list, [4, 5, 6], 4, [6, 5, 4], [6, 4], 6)

## Range
<!--the range() function reurns a sequence of members, starting from 0 by default, and increment by 1(by default), and stops before a specified number.
Typecasting: Type casting,also known as type conversion, is an important concept in java that allows us to convert one data type into another. it is useful when we need to perform operations on different data types or when you want to store a value of one data type into a variable of another data type, default values of starting is zero and step is +1.
syntax: range (start ,end , step) end means till not including end.--->

In [18]:
r=range(1,11)
print(r,type(r),len(r),hex(id(r)),sep='\n')

range(1, 11)
<class 'range'>
10
0x1c902e86520

In [19]:
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
r=range(11,0,-1)
print(list(r),type(r),len(r),hex(id(r)),sep='\n')
#include number from 20 to 1 backwards, didnt include 0 , step was -1 so it is in decreasing order.

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'range'>
11
0x1c902e86310

In [21]:
r = range(10,1,-1)
print(r, type(r), len(r), hex(id(r)),sep='\n')

range(10, 1, -1)
<class 'range'>
9
0x1c902e868e0

In [22]:
list(r)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [23]:
range(5) #if we mention only 1 number so range takes it as end point  and starts it from 0.

range(0, 5)

In [24]:
list(range(0,11,1)),list(range(0,11))

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [25]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## append()=### the append() method is used to adda an elements to the end of a list. lists are a built-in data type in python that can hold multiple values.the append() method is a list method that modifies the list in place by adding the specified elements to the end of the list.

Here's the basic syntax for the append() method:

list_name.append(element)
list_name:The name of the list to which you want to add an element.
element: The value you want to add to the end f the list.
Example:

In [26]:
my_list =[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

my_list = [1,2,3]
my_list.append([4,5]) # Appends the entire lists as a single element
print(my_list)

In [28]:
my_list = [1,2,3]
my_list.extend([4,5]) # extends the list with indiviual elements
print(my_list)

[1, 2, 3, 4, 5]

In [29]:
my_list = [1,2,3]
my_list = my_list + [4,5]
print(my_list)

[1, 2, 3, 4, 5]

## Insert()
    it allows you to insert an elements at a specific index in a list.

In [30]:
my_list = [1,2,3,4,5]
my_list.insert(2,6) # Insert 6 at index 2
print(my_list)

[1, 2, 6, 3, 4, 5]

## Count()

In [31]:
[1,2,3,4,1,2,3,5,6,1,7,5].count(2)

2

## Remove()
   removes given element's first occurance from left to right.
   syntax:list.remove('a')

In [33]:
x = list('malayalam')
x

['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [34]:
x.remove('a')
x

['m', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

## pop()
     pop gives back the last values from the list by default and removes that value from the list if you print it after that .if you mention the index number so it will give it back and remove kit from the list.

In [35]:
l = [0,1,2,3,4,5] # 5 will be taken out return to user.
l.pop()

5

In [36]:
a = l.pop()
a,l

(4, [0, 1, 2, 3])

In [38]:
l.pop(1)

1

## Tuple()
### A tuple in python is a collection of ordered, immutable elements. this means that once you create a tuple,you cannot change its contents. tuples are defined using parantheses().tuples,unlike lists,cannot be modifed once they are created . this is immutability provides safety for data that should not be changed accidentally.

In [1]:
my_tuple = (1,2,3,'apple','banana')
empty_tuple = ()
single_element_tuple =(5,) # note the comma after the single element

In [2]:
my_tuple = (1,2,3,'apple','banana')
print(my_tuple[0]) # accesses the first element:1
print(my_tuple[1:4]) # slices elements from index 1 to 3:(2,3,'apple')

1
(2, 3, 'apple')

## count()
### counts the number of occurrences of a specified value in the tuple.

In [3]:
my_tuple = (1,2,2,3,2,'apple')
count_2 = my_tuple.count(2) # count of occurrences of '2'
print(count_2)

3

## Index()
### returns the index of the first occurrences of a specified value.

In [5]:
my_tuple = ('a', 'b', 'c', 'b')
index_b = my_tuple.index('b') # Returns 1 (index of the first occurence of 'b')
index_b

1